Edward Storlien <edward.storlien@gmail.com> Carl Edward Storlien <carlst@stud.ntnu.no>
Edward Storlien <edward.storlien@gmail.com> Carl Edward Storlien <carlst@ntnu.no>
Erlend <erl1ls@outlook.com> Nexerate <erl1ls@outlook.com>
Hanna Jacobsen <hanna.jacobsen@stud.ntnu.no> <hanna.jacobsen@ntnu.no>
